*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#heading{
	text-align: center;
	background-color: #e0e0e0;
	width: calc(50% + 20px);
	margin: 20px auto;
	padding: 12px 10px;
	border-radius: 23px;
	background: #e0e0e0;
	box-shadow:  12px 12px 24px #b5b5b5, -12px -12px 24px #ffffff;

}
#heading h3{
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}
#heading h1{
	font-family: 'Rubik Moonrocks', cursive;
	font-size: 32px;
}
.inps{
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 23px;
	background: #e0e0e0;
	box-shadow:  12px 12px 24px #b5b5b5, -12px -12px 24px #ffffff;
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	font-weight: 600;
}
.inps input{
	border: none;
	border-bottom: 2px solid rgb(11, 11, 69);
	background-color: transparent;
	width: 70%;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 3px;
}
.inps input:focus{
	outline: none;
}
button{
	background: #e0e0e0;
	border-radius: 10px;
	border: none;
	box-shadow:  12px 12px 24px #b5b5b5, -12px -12px 24px #ffffff;
	padding: 8px 15px;
	display: flex;
	margin: 20px auto 30px auto;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	font-weight: 800;
	transition-duration: 0.3s;
}
button:focus, button:hover {
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background: rgba( 255, 255, 255, 0.3 );
	box-shadow: 5px 5px 10px  rgba(1, 1, 1, 0.3);
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );  color: #fff;
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
	font-weight: 800;
	font-family: "Inter", sans-serif;
	color: black;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#root{
	width: 90%;
	min-height: 1vh;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50px 30px;
	flex-wrap: wrap;
	padding-bottom: 50px;

}
.card {
	width: 320px;
	background-color: #292D31;
	color: white;
	text-align: center;
	border-radius: 35px;
	overflow: hidden;
	border: 2px solid rgba(255, 255, 255, 0.2);
	padding: 15px;
}
.card h1 {
	font-family: "Inter", sans-serif;
	font-weight: 800;
	font-size: 25px;
}
.card h2 {
	margin-bottom: 25px;
	margin-top: 5px;
	font-weight: 500;
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
}
.card .social {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	column-gap: 25px;
	margin: auto;
}
.card .social a{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	column-gap: 25px;
	text-decoration: none;
}
.card .social i{
	font-size: 25px;
	color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	column-gap: 25px;
	transition-duration: 0.3s;
}
.card .social i:hover{
	color: white;
}
.card hr{
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin: 25px 0;
}
.card p{
	font-family: "Inter", sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	word-wrap: break-word;
}